# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit cache
.streamlit/
.cache/

# Logs and temp files
logs/
*.log

# Environment or config files
.env
config.json

# Data and models
data/
models/
*.pkl
*.csv
